<link rel="stylesheet" href="/mosmetro/css/calculator/calculator.css">


<calculator>
    <div id="result">
        0
    </div>

    <div class="numpad">

        <div>  
            <button id="btn_op_clear">C</button>
            <button id="btn_op_sign">+/-</button>
            <button id="btn_op_percent">%</button>
            <button id="btn_op_div">/</button>
        </div>

        <div>
            <button id="btn_digit_7">7</button>
            <button id="btn_digit_8">8</button>
            <button id="btn_digit_9">9</button>
            <button id="btn_op_mult">×</button>
        </div>

        <div>
            <button id="btn_digit_4">4</button>
            <button id="btn_digit_5">5</button>
            <button id="btn_digit_6">6</button>
            <button id="btn_op_minus">-</button>
        </div>

        <div>
            <button id="btn_digit_1">1</button>
            <button id="btn_digit_2">2</button>
            <button id="btn_digit_3">3</button>
            <button id="btn_op_plus">+</button>
        </div>

        <div>
            <button id="btn_digit_0">0</button>
            <button id="btn_digit_dot">.</button>
            <button id="btn_op_equal">=</button>
        </div>

        <div>
            <button id="btn_op_backspace" class="btn">⌫</button>
            <button id="btn_op_sqrt" class="btn">√</button>
            <button id="btn_op_square" class="btn">x²</button>
            <button id="btn_op_factorial" class="btn">x!</button>
        </div>

        <div>
            <button id="btn_op_000" class="btn">000</button>
            <button id="btn_op_madd" class="btn">M+</button>
            <button id="btn_op_msub" class="btn">M-</button>
            <button id="btn_op_mr" class="btn">MR</button>
        </div>

        <div>
            <button id="btn_op_reciprocal" class="btn">1/x</button>
            <button id="btn_op_bgcolor" class="btn">Фон</button>
            <button id="btn_op_dispcolor" class="btn">Экран</button>
        </div>
    </div>
</calculator>


