<link rel="stylesheet" href="/mosmetro/css/header/header.css">

<header>

    <div id="top-panel">
        <img src="img/main-logo.png" label="main logo" alt="main logo">
        <button>
            Войти
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="login-sign">
                <path d="M13.75 21.25L19 16l-5.25-5.25M4.996 16h14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M13 4h12.6c.371 0 .727.105.99.293.262.187.41.442.41.707v22c0 .265-.148.52-.41.707a1.724 1.724 0 01-.99.293H13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>
    </div>

    <div id="tabs">
        <div class="tab"><a href="https://google.com">Схема</a></div>
        <div class="tab"><a href="https://google.com">Как оплатить</a></div>
        <div class="tab"><a href="https://google.com">Пассажирам</a></div>
        <div class="tab"><a href="https://google.com">Новости</a></div>
        <div class="tab"><a href="https://google.com">Корпоративным клиентам</a></div>
        <div class="tab"><a href="https://google.com">Работа</a></div>
        <div class="tab"><a href="https://google.com">О метрополитене</a></div>
        <div class="tab"><a href="https://google.com">Контакты</a></div>
    </div>

</header>
